.top-nav {
  position: relative;
  background-color: $navigation-bg-color;
  padding: 32px 15px;

  .nav-logo {

    &__wrapper {
      @include flex(row, initial, center);

      .nav-img {
        padding-right: 20%;
      }
    }

    &__text {
      font-family: Lato, sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 16px;
      color: $secondary-color;
      text-transform: uppercase;
      padding-left: 17px;
      display: none;
    }
  }

  .nav-btn {
    outline: none;
    background-color: $secondary-color;
    padding: 11px 15px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    color: $primary-color;
  }

}

.burger {
  @include flex(column, space-between, flex-end);
  position: absolute;
  box-sizing: border-box;
  width: 27px;
  height: 25px;
  top: 40%;
  right: 15px;

  &__line {
    background-color: $primary-color;
    height: 3px;
    width: 26px;

    &--short {
      background-color: $primary-color;
      height: 3px;
      width: 15px;
    }
  }
}


