.top-nav {
  @include flex;
  padding: 34px 15px;
  background-color: #27262A;
  position: relative;

  .site-logo__text{
    display: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    color: $secondary-color;
  }

    &__menu--mobile {
      display: none;
    }

    &__menu-item {
      font-size: 26px;
      font-weight: 400;
      line-height: 26px;
      color: $primary-color;
      background-color: #333;
      text-transform: uppercase;
      padding: 29px 35px 109px 21px;
      border-bottom: 3px solid #3b3b3b;
    }

    &__menu-item:hover {
      color: $secondary-color;
      border-left: 8px solid $secondary-color;
    }

  .nav-btn {
    @include flex(column, space-between);
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    right: 0;

    &__line {
      height: 3px;
      width: 26px;
      border-radius: 5px;
      background-color: $primary-color;
    }
  }
}

.site-btn {
  outline: none;
  background-color: $secondary-color;
  padding: 11px 10px;
  border-radius: 40px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  color: $primary-color;
}


