@media (min-width: 481px) and (max-width: 992px) {
  .top-nav {

    .burger {
      display: none;
    }

    .menu-list {
      @include flex(space-between, center);
    }
  }
}

@media (min-width: 993px) and (max-width: 1200px) {}

@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
}