@media (min-width: 481px) and (max-width: 992px) {
  .top-nav{
    position: relative;

    .nav-logo {
      
      &__wrapper {
        @include flex(row, space-between, center);

        .nav-img {
        @include flex(row, initial, center);
        }

        .nav-text {
          display: block;
        }
      }
    }

    .menu-list {
      @include flex(row, center, center);
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      bottom: 0;

      &__item {
        padding: 0 0 18px;
        background-color: $navigation-bg-color;
      }

      &__link {
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        color: $secondary-color;
        padding: 0 5px;
      }

      &__link:hover {
        color: $primary-color;
        border-left: 0px solid $transparent-color;
        padding-left: 0;
      }
    }
  }

  .burger {
    display: none;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {}

@media (max-width: 1200px) {

}