$primary-color: #fff;
$secondary-color: #8D81AC;
$primary-title-color: #635C73;;
$secondary-title-color: #323232;
$text-color: #848E97;
$description-color: #A291A5;
$pseudoelement-color: #645766;

$bg-color: #F4F4F4;