$primary-color: #fff;
$secondary-color: #8D81AC;
$primary-title-color: #635C73;;
$secondary-title-color: #323232;
$text-color: #848E97;
$navigation-bg-color: #27262A;
$menu-bg-color: #333333;
$menu-border-color: #3B3B3B;
$transparent-color: transparent;
$btn-border-color: #dee1e3;
$btn-text-color: #24292e;
$description-color: #A291A5;
$pseudoelement-color: #645766;
$product-bg-color: #F4F4F4;
$bg-color: #4A3B4E;
$bg-dark-color: #473249;
$bg-darkest: #000;
