$primary-color: #fff;
$secondary-color: #8D81AC;
$primary-title-color: #635C73;;
$secondary-title-color: #323232;
$text-color: #848E97;
$navigation-bg-color: #27262A;
$menu-bg-color: #333333;
$menu-border-color: #3B3B3B;